.places {
    width: 100%;
    border: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.places > h1 {
    font-size: 30px;
    padding-left: 20px;
    padding-top: 20px;
    margin-bottom: 0px;
    flex: 0 1 100%;
}

.places > article {
    width: 390px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 20px;
    border: #FF5A5F 1px solid;
    border-radius: 4px;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    position: relative;
}

.places > article > h2 {
    font-size: 30px;
    margin: 0 0 0 0;
    align-self: center;
}

.price_by_night {
    color: #FF5A5F;
    border: #FF5A5F 4px solid;
    min-width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    position: absolute;
    top: 10px;
    right: 20px;
}

.price_by_night > p {
    margin: 8px;
}

.information {
    align-self: center;
    height: 80px;
    width: 100%;
    border-top: #DDDDDD 1px solid;
    border-bottom: #DDDDDD 1px solid;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.max_guest, .number_rooms, .number_bathrooms {
    width: 100px;
    text-align: center;
}

.max_guest > p, .number_rooms > p, .number_bathrooms > p {
    margin-top: auto;
    margin-bottom: auto;
}

.guest_img {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background: url("../images/icon_group.png") no-repeat center;
}

.room_img {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background: url("../images/icon_bed.png") no-repeat center;
}

.bath_img {
    margin-left: auto;
    margin-right: auto;
    height: 50px;
    width: 50px;
    background: url("../images/icon_bath.png") no-repeat center;
}

.user > p {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: left;
}

.description > p {
    margin-top: 8px;
    margin-bottom: 0;
    text-align: left;
}

article > .amenities {
    margin-top: 40px;
    padding: 0px;
    width: 100%;
}

article > .amenities > h2{
    font-size: 16px;
    border-bottom: #DDDDDD 1px solid;
}

article .amenities li {
    list-style-type: none;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: start;
}

.icon_tv, .icon_wifi, .icon_pets {
    background-size: cover;
    background-repeat: no-repeat;
    margin-right: 10px;
    height: 20px;
    width: 20px;
}

.icon_tv {
    background-image: url("../images/icon_tv.png");
}

.icon_wifi {
    background-image: url("../images/icon_wifi.png");
}

.icon_pets {
    background-image: url("../images/icon_pets.png");
}

article .amenities ul,
article .reviews ul {
    padding-left: 0;
}

article > .reviews {
    margin-top: 40px;
}

article > .reviews > h2 {
    font-size: 16px;
    border-bottom: #DDDDDD 1px solid;
}

article > .reviews > ul {
    list-style-type: none;
}

article > .reviews > ul > li > h3 {
    font-size: 14px;
    text-align: left;
}

article > .reviews > ul > li > p {
    font-size: 12px;
    text-align: left;
}